RewriteEngine On
RewriteBase /Theogony/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} ^/Theogony/(.+)$
RewriteCond %{DOCUMENT_ROOT}/public/%1 -f
RewriteRule ^(.*)$ public/%1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ config/routes.php [L]
