RewriteEngine on
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} ^/(.+)$
RewriteCond [your website directory]/public/%1 -f
RewriteRule ^(.*)$ public/%1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ config/routes.php [L]
