.timer {
	position: absolute;
	bottom: 10px;
	left: 10px;
	color: white;
	font-size: 22pt;
	font-family: '微軟正黑體';

	text-shadow: 0 1px 0 #bbb, 0 2px 0 #999, 0 3px 0 #666, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
}
