/*
 * @filename mainlist.css
 * @description stylesheet for list.
 * @author davy
 *
 * @modify
 *      v0 2012.08.30 20:27 (GMT +8)
 *          move form homepage.css
 */

#main li .item-container {
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	margin-top: -1px;
	padding: 0 20px;
}

#main li .item-container.first {
	margin-top: 0;
}

#main li .item-container:hover {
	background: #F6F6F6;
	border-top-color: #EBEBEB;
	border-bottom-color: #EBEBEB;
}

#main li .item {
	border-bottom: 1px #EBEBEB solid;
	margin: 20px 0 -1px 0;
	padding-bottom: 20px;
}

#main li .item.last {
	border-bottom: none;
}

#main li .title h2 {
  font-size: 32px;
  line-height: 40px;
  max-width: 770px;
}

#main li .title .metadata {
  color: #999;
  font-size: 11px;
  line-height: 11px;
}

#main li .title a {
	color: black;
}

#main li .title .metadata a {
  color: #BBB;
}

#main li .item-container:hover .title a, #main li .item-container:hover .title .metadata a {
	color: #C22;
}

#main li .title a:hover, #main li .title .metadata a:hover {
	text-decoration: underline;
}

#main li .content {
	font-size: 18px;
	line-height: 22px;
	margin-top: 2px;
}
