/*
 * @filename navigation.css
 * @description stylesheet for navigation
 * @author davy
 *
 * @modify
 *     v0 2012.08.27 09:09 (GMT +8)
 *         move form container.css
 */

#content #navigation-container {
	float: left;
	width: 230px;
}

.navigation-item-container {
	border-top: 1px solid #A03232;
	border-bottom: 1px solid #701B1B;
	list-style: none;
}

.navigation-item {
	display: block;
	background: #902727;
	background-image: -moz-linear-gradient(top,#902929 0,#802525 100%);
	background-image: -ms-linear-gradient(top,#902929 0,#802525 100%);
	background-image: -o-linear-gradient(top,#902929 0,#802525 100%);
	background-image: -webkit-linear-gradient(top,#902929 0,#802525 100%);
	background-image: linear-gradient(to bottom,#902929 0,#802525 100%);
	border-right: 4px solid transparent;
	color: #E99;
	cursor: pointer;
	font-size: 11px;
	line-height: 28px;
	min-height: 28px;
	padding: 4px 5px 4px 10px;
	-moz-transition: border 0.2s ease;
	-ms-transition: border 0.2s ease;
	-o-transition: border 0.2s ease;
	-webkit-transition: border 0.2s ease;
	transition: border 0.2s ease;
}

.navigation-item:hover {
	background: #602020;
	border-right-color: #E06C6C;
}

.navigation-item.selected, .navigation-item.selected:hover {
	background: #602020;
	border-right-color: #FFFFFF;
}

#content #navigation-container #userinfo {
	background: #902727;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom: 1px solid #701B1B;
	color: #DDD;
	line-height: 1.2em;
	padding: 10px;
}

#content #navigation-container #userinfo h2 {
	font-weight: bold;
	font-size: 20px;
	margin: 5px 0 13px 0;
	padding: 0;
	line-height: 1;
}

#content #navigation-container #userinfo button {
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#fff0f0f0,EndColorStr=#ffb0b0b0);
	background-image: -moz-linear-gradient(top, #F0F0F0 0px, #B0B0B0 100%);
	background-image: -ms-linear-gradient(top, #F0F0F0 0px, #B0B0B0 100%);
	background-image: -o-linear-gradient(top, #F0F0F0 0px, #B0B0B0 100%);
	background-image: -webkit-linear-gradient(top, #F0F0F0 0px, #B0B0B0 100%);
	background-image: linear-gradient(to bottom, #F0F0F0 0px, #B0B0B0 100%);
	border: 1px solid #7b7b7b;
	border-bottom-color: black;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	cursor: pointer;
	font-weight: bold;
	font-size: 18px;
	height: 2em;
	margin: 0;
	outline: 0;
	padding: 0 1em;
	text-shadow: 0 -1px 0 rgba(255, 255, 255, .5);
	vertical-align: middle;
	white-space: nowrap;
	width: 100%;
	word-wrap: normal;
}

#content #navigation-container #userinfo button:hover {
	border-color: #333 #333 black;
}

#content #navigation-container #userinfo button:active {
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#ff014488,EndColorStr=#ff175ea6);
	background-image: -moz-linear-gradient(top,#014488 0,#175EA6 100%);
	background-image: -ms-linear-gradient(top,#014488 0,#175EA6 100%);
	background-image: -o-linear-gradient(top,#014488 0,#175EA6 100%);
	background-image: -webkit-linear-gradient(top, #888 0, #B0B0B0 100%);
	background-image: linear-gradient(to bottom,#014488 0,#175EA6 100%);
	border-color: #902727;
	-moz-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.35);
	-ms-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.35);
	box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.35);
}

#content #navigation-background {
	position: absolute;
	z-index: -1;
	left: 0;
	top: 5px;
	width: 230px;
	height: 100%;
	background: #902727;
}
